# git-ls-files --others --exclude-from=.git/info/exclude

# Temporary files.
*~
*.pyc
.coverage
tags

# Virtual environment.
site/
environment/

# Build and test products
spectator.egg-info/
build/
test.sh
